each p, i in photos
  .cardimg.card.shadow.mb-4(id="cardimg" + r.toString() + "-" + p.id.toString())
    .card-body.p-0
      .mtime.d-none= p.update_time.getTime() / 1000
      .bkimg.rounded-top(style={
        'background-image': 'url(' + "/uploads/" + p.id + ".preview.jpg" + ')',
        'background-size': '100%'
      }, rel-height=p.height, rel-width=p.width)
    .info-area
      .card-body.py-2
        .d-block
          i.fas.fa-image
          = '  ' + p.name + " (" + p.id + ') by ' + p.uploader_name + " (" + p.uploader_id + ")"
        .d-block
          i.fas.fa-bookmark
          = '  ' + p.category_name
      .card-body.py-2
        .d-blocks
          i.fas.fa-file-upload
          = '  ' + p.update_time.toLocaleString()
        if (p.exif_time)
          .d-block
            i.fas.fa-camera-retro
            = '  ' + p.exif_time.toLocaleString()
      if (mdata[i].face.length)
        .card-body.py-2
          .d-block
            i.fas.fa-user-alt
            each val, index in mdata[i].face
              = (index ? ', ' : '  ') + val.mark_name

      .card-body.py-2
        .d-block
          i.fas.fa-download
          if (mdata[i].download.length)
            = '  *' + mdata[i].download[0].user_name + ' (' + mdata[i].download[0].user + ')'
          else
            = '  Click to preempt usage on page.'
          //-each val, index in mdata[i].download
            = (index ? ', ' : '  *') + val.user_name + ' (' + val.user + ')'
      .card-body.py-2
        button.btn.btn-primary.btn-sm.mx-1(onclick="download("+p.id.toString()+")")
          = mdata[i].vd ? 'Re-Download' : ((!mdata[i].download.length) ? 'Use on Page' : 'Download Only')
        if mdata[i].vd
          button.btn.btn-primary.btn-sm.mx-1(onclick="unuse(" + p.id.toString() + ")")
            | Revoke Download
      if p.uploader_id === session.userID || p.uploader_type < session.type
        .card-body.py-2
          form.d-inline-block(method='post' action='/gallery/recall')
            input.d-none(value=p.id, name='photoID', autocomplete="off", spellcheck="false", maxlength=30)
            input.d-none(value='1', name='confirm', autocomplete="off", spellcheck="false", maxlength=30)
            button.btn.btn-danger.btn-sm.mx-1(type='submit')
              | Recall
          form.d-inline-block(method='post' action='/gallery/delete')
            input.d-none(value=p.id, name='photoID', autocomplete="off", spellcheck="false", maxlength=30)
            input.d-none(value='1', name='confirm', autocomplete="off", spellcheck="false", maxlength=30)
            button.btn.btn-danger.btn-sm.mx-1(type='submit')
              | Delete