extends layout

block title
  title Gallery

block top
  h3.text-dark.mb-0.m-2.d-none.d-md-inline Gallery
  h5.text-dark.mb-0.m-2.d-md-none Gallery

  form.form-inline(onsubmit='cu_submit($(this)); return false;')
    #topbar_form.m-2.d-none.d-md-block
      input#search_form.form-control.form-control-sm(type='text', autocomplete="off", spellcheck="false", maxlength=30, placeholder='Photo, Uploader or Face', oninput="if ($(this).val() == \"\") { cu_submit($(this).parents('form')); }", name='wd', value=wd)

    .ml-5.d-none.d-lg-block
      label
        | Category 
        select.form-control.form-control-sm.custom-select.custom-select-sm(onchange="cu_submit($(this).parents('form'))", name='category')
          option(selected= cur_category === 0, value= 0) All
          each val in category
            option(selected= cur_category === val.id, value= val.id)= val.name

block topr
  .nav-item
    a.nav-link(href='/gallery/upload_center')
      span.d-inline.mr-2.text-gray-600.small Upload Center
      if uploadsLength
        span.float-right.bg-danger.rounded.px-2.text-white= uploadsLength

block content
  a#predownload.d-none(download)
  if photos.length
    #row3img.d-none.d-xl-flex
      .col
        include cardimg
      .col
      .col

    #row2img.d-none.d-md-flex.d-xl-none
      .col
        include cardimg
      .col

    #row1img.d-flex.d-md-none
      .col
        include cardimg

    #row0img.d-none
      .col
        include cardimg

    .row.d-block.d-lg-flex
      .col-sm-12.col-md-6.align-self-center
        p(role='status', aria-live='polite') Showing #{ (current - 1) * maximum + 1 } to #{(current - 1) * maximum + photos.length} of #{total}
      include page

  else
    .text-center.mt-5
      .error.mx-auto(data-text= 404)
        p.m-0.d-inline-block= 404
      p.text-dark.mb-5.lead Photo Not Found


append javascripts
  script.
    function unuse(id) {
      const url = "/gallery/unuse/" + id;
      const xhr = new XMLHttpRequest();
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          const xhr1 = new XMLHttpRequest();
          xhr1.open('get', window.location.href, true);
          xhr1.onreadystatechange = function () {
            if (xhr1.readyState === XMLHttpRequest.DONE) {
              $('#main_content').html($('#main_content', xhr1.response).html());
              $('#message_nav').html($('#message_nav', xhr1.response).html());
              imgheight();
              stream(false);
            }
          }
          xhr1.send();
        }
      }
      xhr.send();
    }

    function download(id) {
      const url = "/gallery/download/" + id;
      const xhr = new XMLHttpRequest();
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status.toString()[0] === '2') {
          $('#predownload').attr('href', "/uploads/" + xhr.response + "/" + id + '.jpg');
          document.querySelector('#predownload').click();

          const xhr1 = new XMLHttpRequest();
          xhr1.open('get', window.location.href, true);
          xhr1.onreadystatechange = function () {
            if (xhr1.readyState === XMLHttpRequest.DONE) {
              $('#main_content').html($('#main_content', xhr1.response).html());
              $('#message_nav').html($('#message_nav', xhr1.response).html());
              imgheight();
              stream(false);
            }
          }
          xhr1.send();
        }
      }
      xhr.send();
    }

    function cu_submit(d, ext, rep) {
      let fd = d.serialize() + (ext ? ('&' + encodeURI(ext.attr('name')) + '=' + encodeURI(ext.attr('value'))) : '');
      const xhr = new XMLHttpRequest();
      const url = (d.attr('action') || '/gallery') + '?' + fd;
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          $('#main_content').html($('#main_content', xhr.response).html());
          imgheight();
          stream(false);
          if ($('#search_form').val())
            $('#clear_button').removeClass('d-none');
          else
            $('#clear_button').addClass('d-none');
          rep ? window.history.pushState(null, null, xhr.responseURL) : window.history.replaceState(null, null, xhr.responseURL);
        }
      }
      xhr.send();
    }

    function rowNh(n, i,end) {
      if (end == -1)
        return 0;
      let obj = $('#row'+n.toString()+'img > .col').eq(i).children().eq(end !== undefined ? end : -1);
      return obj.length ? obj.position().top + obj.outerHeight() : 0;
    }

    function stream(flash) {
      if (flash) {
        for (const fx of [2, 3]) {
          $('#row' + fx.toString() + 'img > .col').eq(0).html(
                  $('#row0img > .col').eq(0).html()
          );
          imgheight();
          for (let x = 1; x < fx; x++) {
            $('#row' + fx.toString() + 'img > .col').eq(x).html('');
          }
        }
      }
      for (const fx of [2,3,4]) {
        const sorted = $('#row'+fx.toString()+'img > .col').eq(0).children().sort(function (a, b) {
          return $(b).outerHeight() - $(a).outerHeight();
        });

        let send0 = -1;

        for (let v of sorted) {
          let minimum = rowNh(fx, 0, send0);
          let flag = 0;
          for (let x = 1; x < fx; x++)
            if (minimum > rowNh(fx, x)) {
              minimum = rowNh(fx, x);
              flag = x;
            }
          let newSort = $('#row'+fx.toString()+'img > .col').eq(flag);
          let flagt = true;
          let len = flag ? newSort.children().length : send0 + 1;
          for (let t = 0; t < len; t++) {
            if (Number(newSort.children().eq(t).children('.card-body').children('.mtime').html())
              < $(v).children('.card-body').children('.mtime').html()) {
              newSort.children().eq(t).before(v);
              flagt = false;
              break;
            }
          }
          if (flagt) {
            if (!len)
              newSort.prepend(v);
            else
              newSort.children().eq(len - 1).after(v);
          }


          if (!flag) send0++;
        }
      }
    }

    $(window).on("load", function() {
      imgheight();
      stream(false);
    });

    $(window).resize("resize", function () {
      imgheight();
      stream(true);
    });

append history
  script.
    window.addEventListener("popstate", function (e) {
      const xhr = new XMLHttpRequest();
      const url = window.location;
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          $('#main_content').html($('#main_content', xhr.response).html());
          imgheight();
          stream(false);
          if ($('#search_form').val())
            $('#clear_button').removeClass('d-none');
          else
            $('#clear_button').addClass('d-none');
          window.history.replaceState(null, null, xhr.responseURL);
        }
      }
      xhr.send();
    });