extends layout

block title
  title Gallery

block top
  h3.text-dark.mb-0.m-2.d-none.d-md-inline Gallery
  h5.text-dark.mb-0.m-2.d-md-none Gallery

block topr
  .nav-item
    a.nav-link(href='/gallery/upload_center')
      span.d-inline.mr-2.text-gray-600.small Upload Center

block content
  if photos.length
    .row.d-none.d-xl-flex
      .col
        -for (let i = 0; i < photos.length; i+=3)
          .card.shadow.mb-4
            .card-header.py-2
              = photos[i].name + ' by ' + photos[i].uploader_name
              .d-block= photos[i].update_time.toLocaleString()
            .card-body.p-0
              img.p-0.col-12.rounded-bottom(src="/uploads/" + photos[i].id + ".preview.jpg")
      .col
        -for (let i = 1; i < photos.length; i+=3)
          .card.shadow.mb-4
            .card-header.py-2
              = photos[i].name + ' by ' + photos[i].uploader_name
              .d-block= photos[i].update_time.toLocaleString()
            .card-body.p-0
              img.p-0.col-12.rounded-bottom(src="/uploads/" + photos[i].id + ".preview.jpg")
      .col
        -for (let i = 2; i < photos.length; i+=3)
          .card.shadow.mb-4
            .card-header.py-2
              = photos[i].name + ' by ' + photos[i].uploader_name
              .d-block= photos[i].update_time.toLocaleString()
            .card-body.p-0
              img.p-0.col-12.rounded-bottom(src="/uploads/" + photos[i].id + ".preview.jpg")

    .row.d-none.d-md-flex.d-xl-none
      .col
        -for (let i = 0; i < photos.length; i+=2)
          .card.shadow.mb-4
            .card-header.py-2
              = photos[i].name + ' by ' + photos[i].uploader_name
              .d-block= photos[i].update_time.toLocaleString()
            .card-body.p-0
              img.p-0.col-12.rounded-bottom(src="/uploads/" + photos[i].id + ".preview.jpg")
      .col
        -for (let i = 1; i < photos.length; i+=2)
          .card.shadow.mb-4
            .card-header.py-2
              = photos[i].name + ' by ' + photos[i].uploader_name
              .d-block= photos[i].update_time.toLocaleString()
            .card-body.p-0
              img.p-0.col-12.rounded-bottom(src="/uploads/" + photos[i].id + ".preview.jpg")

    .row.d-flex.d-md-none
      .col
        -for (let i = 0; i < photos.length; i++)
          .card.shadow.mb-4
            .card-header.py-2
              = photos[i].name + ' by ' + photos[i].uploader_name
              .d-block= photos[i].update_time.toLocaleString()
            .card-body.p-0
              img.p-0.col-12.rounded-bottom(src="/uploads/" + photos[i].id + ".preview.jpg")
  else
    .text-center.mt-5
      .error.mx-auto(data-text= 404)
        p.m-0.d-inline-block= 404
      p.text-dark.mb-5.lead Photo Not Found