extends layout

block title
  title Message

block top
  h3.text-dark.mb-0.m-2.d-none.d-md-inline Message
  h5.text-dark.mb-0.m-2.d-md-none Message

  form.form-inline(onsubmit='cu_submit($(this)); return false;')
    #topbar_form.m-2.d-none.d-md-block
      input#search_form.form-control.form-control-sm(type='text', autocomplete="off", spellcheck="false", maxlength=30, placeholder='ID, Sender or Content', oninput="cu_submit($(this).parents('form'))", name='wd', value=wd)

    .ml-5.d-none.d-lg-block
      label
        | Show 
        select.form-control.form-control-sm.custom-select.custom-select-sm(onchange="cu_submit($(this).parents('form'))", name='max')
          option(selected= maximum === 5) 5
          option(selected= maximum === 10) 10
          option(selected= maximum === 25) 25

block topr
  if session.type
    .nav-item
      a.nav-link(href='/message/new')
        span.d-inline.mr-2.text-gray-600.small New
  if unreadMeessageLength
    .nav-item
      a.nav-link(href='#', onclick='read(); return false;')
        span.d-inline.mr-2.text-gray-600.small Read All

block content
  .card.shadow
    .card-header.py-3
      p.d-inline.text-primary.m-0.font-weight-bold Sent Message
      button.btn.ml-3.d-inline.btn-primary.btn-sm(onclick="window.location='/message'") Switch
    #list.card-body
      if messages.length
        each val in messages
          .card.my-3
            .card-header
              .i.fas(class={'fa-user': val.to !== null, 'fa-users': val.to === null})
              .d-inline= (val.to === null ? " Group Message" : " Private Message")
            .card-header
              .d-inline="Message " + val.id + (val.to === null ? "" : (" to " + val.to_name + " (" + val.to + ")"))
              .d-block= val.update_time.toLocaleString()
            .card-body!= val.content


        .row.d-block.d-lg-flex
          .col-sm-12.col-md-6.align-self-center
            p(role='status', aria-live='polite') Showing #{ (current - 1) * maximum + 1 } to #{(current - 1) * maximum + messages.length} of #{total}
          include page
      else
        .text-center.mt-5
          style.
            .error:before {
              background: #ffffff
            }
            .error:after {
              background: #ffffff
            }
          .error.mx-auto(data-text= 404)
            p.m-0.d-inline-block= 404
          p.text-dark.mb-5.lead Message Not Found

append javascripts
  script.
    if (end_callback)
      end_callback(this);
    function cu_submit(d, ext) {
      let fd = d.serialize() + (ext ? ('&' + encodeURI(ext.attr('name')) + '=' + encodeURI(ext.attr('value'))) : '') + '&sent=1';
      const xhr = new XMLHttpRequest();
      const url = (d.attr('action') || '/message') + '?' + fd;
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          $('#list').html($('#list', xhr.response).html());
          imgheight();
          if ($('#search_form').val())
            $('#clear_button').removeClass('d-none');
          else
            $('#clear_button').addClass('d-none');
          window.history.pushState(null, null, xhr.responseURL);
        }
      }
      xhr.send();
    }

append history
  script.
    window.addEventListener("popstate", function (e) {
      const xhr = new XMLHttpRequest();
      const url = window.location;
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          $('#list').html($('#list', xhr.response).html());
          if ($('#search_form').val())
            $('#clear_button').removeClass('d-none');
          else
            $('#clear_button').addClass('d-none');
          window.history.replaceState(null, null, xhr.responseURL);
        }
      }
      xhr.send();
    });