extends layout

block title
  title= msg

block menu
  li.nav-item(role='presentation')
    a.nav-link.active.disabled
      i.fas.fa-exclamation-circle
      span= msg

block content
  .text-center.mt-5
    .error.mx-auto(data-text= code)
      p#code.m-0= code
    p.text-dark.mb-5.lead#msg= msg
    p.text-black-50.mb-0#inf= inf
    if home
      a(href="/") ← Back To Home
    else
      a(href="#", onclick="history.back(); return false;") ← Back