.col-6.d-none.d-sm-block.d-lg-flex.justify-content-end
  nav
    - var end = Math.ceil(total / maximum);
    form
      input.d-none(name='wd', value=wd)
      input.d-none(name='max', value=maximum)
      ul.pagination
        if 2 <= current - 2
          li.page-item(class={"active": current === 1})
            input.page-link(onclick="cu_submit($(this).parents('form'), $(this))", type='button', name='pg', value=1)
        if 3 < current - 2
          li.page-item(disabled)
            button.page-link(disabled) ...
        if 3 === current - 2
          li.page-item(class={"active": current === 2})
            input.page-link(onclick="cu_submit($(this).parents('form'), $(this))", type='button', name='pg', value=2)
        - var t = Math.max(1, current - 2);
        while t <= Math.min(end, current + 2)
          li.page-item(class={"active": current === t})
            input.page-link(onclick="cu_submit($(this).parents('form'), $(this))", type='button', name='pg', value=t)
            - t++
        if end - 2 > current + 2
          li.page-item(disabled)
            button.page-link(disabled) ...
        if end - 2 === current + 2
          li.page-item(class={"active": current === end - 1})
            input.page-link(onclick="cu_submit($(this).parents('form'), $(this))", type='button', name='pg', value=end - 1)
        if end - 1 >= current + 2
          li.page-item(class={"active": current === end})
            input.page-link(onclick="cu_submit($(this).parents('form'), $(this))", type='button', name='pg', value=end)
.col-12.d-sm-none.justify-content-end
  nav
    - var end = Math.ceil(total / maximum);
    form
      input.d-none(name='wd', value=wd)
      input.d-none(name='max', value=maximum)
      ul.pagination
        li.page-item(class={disabled: current === 1})
          input.page-link(onclick="cu_submit($(this).parents('form'), $(this))", type='button', name='pg', value=current - 1)
        li.page-item.active
          input.page-link(onclick="cu_submit($(this).parents('form'), $(this))", type='button', name='pg', value=current)
        li.page-item(class={disabled: current === end})
          input.page-link(onclick="cu_submit($(this).parents('form'), $(this))", type='button', name='pg', value=current + 1)