extends layout

block title
  title PhotoX | Status

block top
  h3.text-dark.mb-0.m-2.d-none.d-md-inline Status
  h5.text-dark.mb-0.m-2.d-md-none Status

block content
  .card.shadow.mb-4.mx-2
    .card-header.py-3
      p.text-primary.m-0.font-weight-bold System Status
    .card-body.px-3
      .row.no-gutters
        .col-lg-4.col-md-6.d-inline-flex.px-2
          .card.shadow.col-12.my-2.p-0
            .card-header
              p.text-dark.m-0.font-weight-bold System Memory Usage
            .card-body
              .chart-pie
                .chartjs-size-monitor
                  .chartjs-size-monitor-expand
                    div
                  .chartjs-size-monitor-shrink
                    div
                canvas#sysMemoryUsed.chartjs-render-monitor

        .col-lg-4.col-md-6.d-inline-flex.px-2
          .card.shadow.col-12.my-2.p-0
            .card-header
              p.text-dark.m-0.font-weight-bold Cluster Memory Usage
            .card-body
              .chart-pie
                .chartjs-size-monitor
                  .chartjs-size-monitor-expand
                    div
                  .chartjs-size-monitor-shrink
                    div
                canvas#nodeMemoryUsed.chartjs-render-monitor
        .col-lg-4.col-md-12.d-inline-flex.px-2
          .card.shadow.col-12.my-2.p-0
            .card-header
              p.text-dark.m-0.font-weight-bold Load Avg
            .card-body
              .chart-area
                .chartjs-size-monitor
                  .chartjs-size-monitor-expand
                    div
                  .chartjs-size-monitor-shrink
                    div
                canvas#loadAvg.chartjs-render-monitor

  .col-lg-6.d-lg-inline-flex.px-2
    .col-12.p-0
      .card.shadow.mb-4.p-0.col-12
        .card-header.py-3
          p.text-primary.m-0.font-weight-bold User Management Status
        .card-body
          .card.border-left-success.shadow.col-12.my-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Password Auth
                  .h5.mb-0.font-weight-bold.text-gray-800=usersLength
                .col-auto
                  i.fas.fa-user-alt.fa-2x.text-gray-300
          .card.border-left-danger.shadow.col-12.my-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-danger.text-uppercase.mb-1 No Password
                  .h5.mb-0.font-weight-bold.text-gray-800=usersDeleted.length
                .col-auto
                  i.fas.fa-user-alt.fa-2x.text-gray-300
      .card.shadow.mb-4.p-0.col-12
        .card-header.py-3
          p.text-primary.m-0.font-weight-bold Log Status [log is #{config.disable_log ? "disabled" : "enabled"}]
        .card-body
          .card.border-left-primary.shadow.col-12.my-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 All
                  .h5.mb-0.font-weight-bold.text-gray-800=allLogs.length
                .col-auto
                  i.fas.fa-book.fa-2x.text-gray-300
          .card.border-left-success.shadow.col-12.my-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Success
                  .h5.mb-0.font-weight-bold.text-gray-800=successLogs.length
                .col-auto
                  i.fas.fa-book.fa-2x.text-gray-300
          .card.border-left-danger.shadow.col-12.my-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-danger.text-uppercase.mb-1 Fail
                  .h5.mb-0.font-weight-bold.text-gray-800=failLogs.length
                .col-auto
                  i.fas.fa-book.fa-2x.text-gray-300

  .col-lg-6.d-lg-inline-flex.px-2
    .col-12.p-0
      .card.shadow.mb-4.p-0.col-12
        .card-header.py-3
          p.text-primary.m-0.font-weight-bold Gallery Status
        .card-body
          .card.border-left-success.shadow.col-12.my-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Published
                  .h5.mb-0.font-weight-bold.text-gray-800=photosPublished.length
                .col-auto
                  i.fas.fa-image.fa-2x.text-gray-300
          .card.border-left-primary.shadow.col-12.my-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Unpublished
                  .h5.mb-0.font-weight-bold.text-gray-800=photosUnpublished.length
                .col-auto
                  i.fas.fa-image.fa-2x.text-gray-300
          .card.border-left-warning.shadow.col-12.my-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 Unconverted
                  .h5.mb-0.font-weight-bold.text-gray-800=photosUnpublished.length
                .col-auto
                  i.fas.fa-image.fa-2x.text-gray-300
          .card.border-left-danger.shadow.col-12.my-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-danger.text-uppercase.mb-1 Deleted
                  .h5.mb-0.font-weight-bold.text-gray-800=photosDeleted.length
                .col-auto
                  i.fas.fa-image.fa-2x.text-gray-300

      .card.shadow.mb-4.p-0.col-12
        .card-header.py-3
          p.text-primary.m-0.font-weight-bold System Version
        .card-body
          .card.border-left-primary.shadow.col-12.my-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Git Branch
                  .h5.mb-0.font-weight-bold.text-gray-800 Stable
                .col-auto
                  i.fas.fa-code-branch.fa-2x.text-gray-300

  if config.scripts
    .card.shadow.mb-4.mx-2
      .card-header.py-3
        p.text-primary.m-0.font-weight-bold Maintenance Scripts
      .card-header
        .text-danger Scripts Are Not Set to Be Admin User Only Because of the Experiment of New Privilege Authentication. Please, Do Not Run Any of These Script Unless You Know What You Are Doing. For Running Any One of Scripts Below, An Email Will Be Sent to the Maintainer of System, and A Group Message Will Be Sent to All Users, Including All Details of the Script and Its Result.
      .card-body
        each script in config.scripts
          form(method='post' action='/status/run/' + script.location)
            input.d-none(value='1', name='confirm', autocomplete="off", spellcheck="false", maxlength=30)
            .card.border-left-dark.shadow.col-12.my-2
              .card-body
                .row.no-gutters.align-items-center
                  .col.mr-2
                    .text-xs.font-weight-bold.text-dark.text-uppercase.mb-1= script.name
                    .h5.mb-0.font-weight-bold.text-dark= script.description
                  .col-auto
                      button.btn.p-0.col-12.text-left(type="submit")
                        i.far.fa-caret-square-right.fa-2x.text-danger


append javascripts
  script.
    var PieChart1 = new Chart($("#sysMemoryUsed"), {
      type: 'doughnut',
      data: {
        labels: ["Used", "Available"],
        datasets: [{
          data: [#{(sysMemUsed/1e6).toFixed(2)}, #{(sysMemAvailable/1e6).toFixed(2)}],
          backgroundColor: ['#e74a3b', '#1cc88a'],
          hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          caretPadding: 10,
          callbacks: {
            label: function (tooltipItem, data) {
              return data.labels[tooltipItem.index] + ": " + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + 'MB';
            }
          }
        },
        legend: {
          display: false
        },
        cutoutPercentage: 80,
      },
    });
    var PieChart2 = new Chart($("#nodeMemoryUsed"), {
      type: 'doughnut',
      data: {
        labels: ["Used", "Available"],
        datasets: [{
          data: [#{(nodeMemUsed / 1e6).toFixed(2)}, #{(nodeMemAvailable / 1e6).toFixed(2)}],
          backgroundColor: ['#e74a3b', '#1cc88a'],
          hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          caretPadding: 10,
          callbacks: {
            label: function (tooltipItem, data) {
              return data.labels[tooltipItem.index] + ": " + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + 'MB';
            }
          }
        },
        legend: {
          display: false
        },
        cutoutPercentage: 80,
      },
    });
    var LineChart = new Chart($("#loadAvg"), {
      type: 'line',
      data: {
        labels: ["15 min", "5 min", "1 min"],
        datasets: [{
          label: "Load Avg",
          lineTension: 0.3,
          backgroundColor: "rgba(78, 115, 223, 0.05)",
          borderColor: "rgba(78, 115, 223, 1)",
          pointRadius: 3,
          pointBackgroundColor: "rgba(78, 115, 223, 1)",
          pointBorderColor: "rgba(78, 115, 223, 1)",
          pointHoverRadius: 3,
          pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
          pointHoverBorderColor: "rgba(78, 115, 223, 1)",
          pointHitRadius: 10,
          pointBorderWidth: 2,
          data: [#{min15.toFixed(2)}, #{min5.toFixed(2)}, #{min1.toFixed(2)}],
        }],
      },
      options: {
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0
          }
        },
        scales: {
          xAxes: [{
            time: {
              unit: 'date'
            },
            gridLines: {
              display: false,
              drawBorder: false
            },
            ticks: {
              maxTicksLimit: 7
            }
          }],
          yAxes: [{
            ticks: {
              maxTicksLimit: 5,
              padding: 10,
              callback: function (value, index, values) {
                return value + "%";
              }
            },
            gridLines: {
              color: "rgb(234, 236, 244)",
              zeroLineColor: "rgb(234, 236, 244)",
              drawBorder: false,
              borderDash: [2],
              zeroLineBorderDash: [2]
            }
          }],
        },
        legend: {
          display: false
        },
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: '#6e707e',
          titleFontSize: 14,
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: false,
          mode: 'index',
          caretPadding: 10,
          callbacks: {
            label: function (tooltipItem, chart) {
              var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
              return datasetLabel + ': ' + tooltipItem.yLabel + '%';
            }
          }
        }
      }
    });