extends layout

block title
  title Upload Center

block top
  h3#t1.text-dark.mb-0.m-2.d-none.d-lg-inline Upload Center
  h5#t2.text-dark.mb-0.m-2.d-lg-none Upload Center
  if session.type
    form.form-inline(onsubmit='cu_submit($(this)); return false;')
      #topbar_form.m-2.d-none.d-sm-block
        input#search_form.form-control.form-control-sm(type='text', autocomplete="off", placeholder='Search for ID or Uploader', oninput="cu_submit($(this).parents('form'))", name='wd', value=wd)
  #progressbar.my-auto.col-3.d-none.m-2
    .progress
      .progress-bar

block topr
  .nav-item
    a#upload.nav-link(onclick="document.querySelector('#uploadInput').click(); return false;" href='#')
      span.d-inline.mr-2.text-gray-600.small Upload
    form#uploadForm.d-none(method="post", enctype="multipart/form-data")
      input#uploadInput(type="file", name="photo", accept='image/*', onchange="upload()", multiple, autocomplete="off")
  .nav-item
    a.nav-link(onclick="history.back(); return false;", href='#')
      span.d-inline.mr-2.text-gray-600.small Back

block content
  .card.shadow
    .card-header.py-3
      p.text-primary.m-0.font-weight-bold Photo
    #list.card-body
      if photos.length
        .table-responsive.table.mt-2(role='grid')
          table.table.my-0
            thead
              tr
                th ID
                th Preview
                if session.type
                  th Uploader
                th Status
                th.d-none.d-sm-block Options

            tbody
              each val in photos
                tr
                  th= val['id']
                  th
                    div(style={
                      "background-image": "url(/uploads/" + val['id'] + ".png)",
                      height: '120px',
                      width: '120px',
                      'background-size': 'cover',
                      'background-position': '50%'
                    })
                  if session.type
                    if val.uploader_deleted
                      th= val.uploader_name + ' (' + val.uploader_id + ', DELETED)'
                    else
                      th= val.uploader_name + ' (' + val.uploader_id + ')'
                  th= val.type === 0 ? "Converting" : "Unpublished"
                  th.d-none.d-sm-block
                    form.d-inline-block
                      button.btn.btn-danger.btn-sm(onclick="location='/gallery/publish/" + val.id + "'; return false;", disabled=val.uploader_type >= session.type && val.uploader_id !== session.userID)
                        | Publish
                    =' '
                    form.d-inline-block(method='post' action='/gallery/delete')
                      input.d-none(value=val.id, name='photoID', autocomplete="off")
                      input.d-none(value='1', name='confirm', autocomplete="off")
                      button.btn.btn-danger.btn-sm(type='submit', disabled=val.uploader_type >= session.type && val.uploader_id !== session.userID)
                        | Delete
        .row.d-block.d-lg-flex
          .col-sm-12.col-md-6.align-self-center
            p(role='status', aria-live='polite') Showing #{ (current - 1) * maximum + 1 } to #{(current - 1) * maximum + photos.length} of #{total}
          include page
      else
        .text-center.mt-5
          .error.mx-auto(data-text= 404)
            p.m-0.d-inline-block= 404
          p.text-dark.mb-5.lead Photo Not Found

append javascripts
  script.
    function cu_submit(d, ext) {
      let fd = d.serialize() + (ext ? ('&' + encodeURI(ext.attr('name')) + '=' + encodeURI(ext.attr('value'))) : '');
      const xhr = new XMLHttpRequest();
      const url = (d.attr('action') || '/gallery/upload_center') + '?' + fd;
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          $('#list').html($('#list', xhr.response).html());
          if ($('#search_form').val())
            $('#clear_button').removeClass('d-none');
          else
            $('#clear_button').addClass('d-none');
          window.history.pushState(null, null, xhr.responseURL);
        }
      }
      xhr.send();
    }

    function upload() {
      const formData = new FormData();
      const files = document.getElementById('uploadInput').files;
      for (const file of files)
          formData.append('photo', file);
      const xhr = new XMLHttpRequest();
      let finished = false;

      xhr.open('post', '/gallery/upload_center', true);

      xhr.upload.onprogress = function (e) {
        if (e.lengthComputable) {
          if (e.loaded === e.total) {
            $('#t1').html("Converting...");
            $('#t2').html("Converting...");
            const xhr2 = new XMLHttpRequest();
            xhr2.open('get', '/gallery/upload_center', true);
            xhr2.onreadystatechange = function () {
              if (xhr2.readyState === XMLHttpRequest.DONE && !finished)
                $('#list').html($('#list', xhr2.response).html());
            }
            xhr2.send();
            $('#progressbar').removeClass('d-lg-block');
          } else {
            const percentage = ((e.loaded / e.total) * 100);
            $('#t1').html("Uploading...");
            $('#t2').html("Uploading... " + percentage.toFixed(2).toString() + '%');
            $('.progress-bar').attr('style', "width: " + percentage.toString() + "%; transition:none;")
            $('.progress-bar').html(percentage.toFixed(2).toString() + "%");
            $('#progressbar').addClass('d-lg-block');
          }
        }
      };

      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          $('#t1').html("Finished");
          $('#t2').html("Finished");
          const xhr1 = new XMLHttpRequest();
          xhr1.open('get', '/gallery/upload_center', true);
          xhr1.onreadystatechange = function() {
            if (xhr1.readyState === XMLHttpRequest.DONE)
              $('#list').html($('#list', xhr1.response).html());
          }
          xhr1.send();
          finished = true;
        }
      }
      xhr.send(formData);
    }

append history
  script.
    window.addEventListener("popstate", function (e) {
      const xhr = new XMLHttpRequest();
      const url = window.location;
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          console.log(xhr);
          $('#list').html($('#list', xhr.response).html());
          if ($('#search_form').val())
            $('#clear_button').removeClass('d-none');
          else
            $('#clear_button').addClass('d-none');
          window.history.replaceState(null, null, xhr.responseURL);
          //alert('AJAX CALLED BY NEW HISTORY EVENT');
        }
      }
      xhr.send();
    });