extends layout

block title
  title Upload Center

block top
  h3#t1.text-dark.mb-0.m-2.d-none.d-lg-inline Upload Center
  h5#t2.text-dark.mb-0.m-2.d-lg-none Upload Center
  #progressbar.my-auto.col-3.d-none.m-2
    .progress
      .progress-bar

block topr
  .nav-item
    a#upload.nav-link(onclick="document.querySelector('#uploadInput').click(); return false;" href='#')
      span.d-inline.mr-2.text-gray-600.small Upload
    form#uploadForm.d-none(method="post", enctype="multipart/form-data")
      input#uploadInput(type="file", name="photo", accept='image/*', onchange="upload()", multiple)
  .nav-item
    a.nav-link(onclick="history.go(-1); return false;", href='#')
      span.d-inline.mr-2.text-gray-600.small Back

block content
  .card.shadow
    .card-header.py-3
      p.text-primary.m-0.font-weight-bold Photo
    #list.card-body
      .table-responsive.table.mt-2(role='grid')
        table.table.my-0
          thead
            tr
              th ID
              th Name
              th Uploader

          tbody
            each val in photos
              tr
                th= val['id']
                th= val['name'] || 'Untitled'
                th= val['uploader_name'] + ' (' + val['uploader_id'] + ')'

      .row
        .col-6.align-self-center
          p(role='status', aria-live='polite') Showing #{ 0 } to #{ 0 } of #{ 0 }
        .col-6
          nav.d-flex.justify-content-end.dataTables_paginate.paging_simple_numbers
          
append javascripts
  script.
    function upload() {
      const formData = new FormData();
      const files = document.getElementById('uploadInput').files;
      for (const file of files)
          formData.append('photo', file);
      const xhr = new XMLHttpRequest();


      xhr.open('post', '/gallery/upload_center', true);

      xhr.upload.onprogress = function (e) {
        if (e.lengthComputable) {
          if (e.loaded === e.total) {
            $('#t1').html("Converting...");
            $('#t2').html("Converting...");
            $('#progressbar').removeClass('d-lg-block');
          } else {
            const percentage = ((e.loaded / e.total) * 100);
            $('#t1').html("Uploading...");
            $('#t2').html("Uploading... " + percentage.toFixed(2).toString() + '%');
            $('.progress-bar').attr('style', "width: " + percentage.toString() + "%; transition:none;")
            $('.progress-bar').html(percentage.toFixed(2).toString() + "%");
            $('#progressbar').addClass('d-lg-block');
          }
        }
      };

      xhr.send(formData);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          $('#t1').html("Finished");
          $('#t2').html("Finished");
          const xhr1 = new XMLHttpRequest();
          xhr1.open('get', '/gallery/upload_center', true);
          xhr1.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              var parser = new DOMParser();
              var xmlDoc = parser.parseFromString(xhr1.responseText, "text/html");
              $('#list').html($('#list', xmlDoc).html());
            }
          }
          xhr1.send();
        }
      }
    }