extends layout

block title
  title PhotoX | Upload Center

block top
  h3#t1.text-dark.mb-0.m-2.d-none.d-lg-inline Upload Center
  h5#t2.text-dark.mb-0.m-2.d-lg-none Upload Center
  #progressbar.my-auto.col-3.d-none.m-2
    .progress
      .progress-bar

block topr
  .nav-item
    a#upload.nav-link(onclick="document.querySelector('#uploadInput').click(); return false;" href='#')
      span.d-inline.mr-2.text-gray-600.small Upload
    form#uploadForm.d-none(method="post", enctype="multipart/form-data")
      input#uploadInput(type="file", name="photo", accept='image/*', onchange="upload()", multiple, autocomplete="off", spellcheck="false", maxlength=30)
  .nav-item
    a.nav-link(onclick="history.back(); return false;", href='#')
      span.d-inline.mr-2.text-gray-600.small Back

block content
  .card.shadow
    .card-header.py-3
      p.d-inline.text-primary.m-0.font-weight-bold My Upload
      if (session.type && config.allow_admin_publish_others)
         button.d-inline.btn.ml-3.d-inline.btn-primary.btn-sm(onclick="window.location='/gallery/upload_center?others=1'") Switch to All Upload
    #list.card-body
      if photos.length
        .table-responsive.table.mt-2(role='grid')
          table.table.my-0
            thead
              tr
                th ID
                th Preview
                th Status
                th.d-none.d-sm-block Options

            tbody
              each val in photos
                tr
                  th= val['id']
                  th
                    .bkimg.rounded(style={'background-image' : 'url(' + "/uploads/" + val.id + ".preview.jpg" + ')', 'background-size' : '100%', width: '100px'}, rel-height=val.height, rel-width=val.width)
                  th= val.type === 0 ? "Converting" : "Unpublished"
                  th.d-none.d-sm-block
                    form.d-inline-block
                      button.btn.btn-danger.btn-sm.mx-1(onclick="window.location='/gallery/publish/" + val.id + "'; return false;", disabled=val.uploader_type >= session.type && val.uploader_id !== session.userID)
                        | Publish
                    form.d-inline-block(method='post' action='/gallery/delete')
                      input.d-none(value=val.id, name='photoID', autocomplete="off", spellcheck="false", maxlength=30)
                      input.d-none(value='1', name='confirm', autocomplete="off", spellcheck="false", maxlength=30)
                      button.btn.btn-danger.btn-sm.mx-1(type='submit', disabled=val.uploader_type >= session.type && val.uploader_id !== session.userID)
                        | Delete
        .row.d-block.d-lg-flex
          .col-sm-12.col-md-6.align-self-center
            p(role='status', aria-live='polite') Showing #{ (current - 1) * maximum + 1 } to #{(current - 1) * maximum + photos.length} of #{total}
          include page
      else
        .text-center.mt-5
          style.
            .error:before {
              background: #ffffff
            }

            .error:after {
              background: #ffffff
            }
          .error.mx-auto(data-text= 404)
            p.m-0.d-inline-block= 404
          p.text-dark.mb-5.lead Photo Not Found

append javascripts
  script.
    function cu_submit(d, ext, rep) {
      let fd = d.serialize() + (ext ? ('&' + encodeURIComponent(ext.attr('name')) + '=' + encodeURIComponent(ext.attr('value'))) : '');
      const xhr = new XMLHttpRequest();
      const url = (d.attr('action') || '/gallery/upload_center') + '?' + fd;
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          $('#list').html($('#list', xhr.response).html());
          imgheight();
          if ($('#search_form').val())
            $('#clear_button').removeClass('d-none');
          else
            $('#clear_button').addClass('d-none');
          rep ? window.history.pushState(null, null, xhr.responseURL) : window.history.replaceState(null, null, xhr.responseURL);
        }
      }
      xhr.send();
    }

    function upload() {
      const formData = new FormData();
      const files = document.getElementById('uploadInput').files;
      if (files.length > 50) {
        alert("You can only upload less than 50 photos at once");
        return;
      }
      for (const file of files) {
        if (file.size >= 1e8) {
          alert("You can only upload photo less than 100mb");
          return;
        }
        formData.append('photo', file);
      }
      const xhr = new XMLHttpRequest();

      xhr.open('post', window.location.href, true);

      xhr.upload.onprogress = function (e) {
        if (e.lengthComputable) {
          if (e.loaded === e.total) {
            $('#t1').html("Converting...");
            $('#t2').html("Converting...");
            $('#progressbar').removeClass('d-lg-block');
          } else {
            const percentage = ((e.loaded / e.total) * 100);
            $('#t1').html("Uploading...");
            $('#t2').html("Uploading... " + percentage.toFixed(2).toString() + '%');
            $('.progress-bar').attr('style', "width: " + percentage.toString() + "%; transition:none;")
            $('.progress-bar').html(percentage.toFixed(2).toString() + "%");
            $('#progressbar').addClass('d-lg-block');
          }
        }
      };

      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          let arr = JSON.parse(xhr.response);
          let suc = Number(arr.reduce(function (total, num) {
            return num ? Number(total) + 1 : Number(total);
          }));
          $('#t1').html(suc.toString() + ' / ' + arr.length.toString() + ' Finished');
          $('#t2').html(suc.toString() + ' / ' + arr.length.toString() + ' Finished');

          const xhr1 = new XMLHttpRequest();
          xhr1.open('get', '/gallery/upload_center', true);
          xhr1.onreadystatechange = function() {
            if (xhr1.readyState === XMLHttpRequest.DONE) {
              $('#list').html($('#list', xhr1.response).html());
              $('#message_nav').html($('#message_nav', xhr1.response).html());
              $('#uploadInput').val('');
              imgheight();
            }
          }
          xhr1.send();
        }
      }
      xhr.send(formData);
    }

append history
  script.
    window.addEventListener("popstate", function (e) {
      const xhr = new XMLHttpRequest();
      const url = window.location;
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          $('#list').html($('#list', xhr.response).html());
          imgheight();
          if ($('#search_form').val())
            $('#clear_button').removeClass('d-none');
          else
            $('#clear_button').addClass('d-none');
          window.history.replaceState(null, null, xhr.responseURL);
        }
      }
      xhr.send();
    });