extends layout

block title
  title User

block top
  h3.text-dark.mb-0.m-2.d-none.d-md-inline User
  h5.text-dark.mb-0.m-2.d-md-none User

  form.form-inline(onsubmit='cu_submit($(this)); return false;')
    #topbar_form.m-2.d-none.d-sm-block
      input#search_form.form-control.form-control-sm(type='text', autocomplete="off", placeholder='ID, Phone Number or Name', oninput="cu_submit($(this).parents('form'))", name='wd', value=wd)

    .ml-5.d-none.d-lg-block
      label
        | Show 
        select.form-control.form-control-sm.custom-select.custom-select-sm(onchange="cu_submit($(this).parents('form'))", name='max')
          option(selected= maximum === 5) 5
          option(selected= maximum === 10) 10
          option(selected= maximum === 25) 25

block topr
  .nav-item
    a.nav-link(href='/user/add')
      span.d-inline.mr-2.text-gray-600.small Add User

block content
  .card.shadow
    .card-header.py-3
      p.text-primary.m-0.font-weight-bold User Info
    #list.card-body
      if users.length
        .table-responsive.table.mt-2(role='grid')
          table.table.my-0
            thead
              tr
                th ID
                th Name
                th Type
                th.d-none.d-sm-block Options
            tbody
              each val in users
                tr
                  if val.id === session.userID
                    th= val.id + ' (Me)'
                  else
                    th= val.id
                  th= val.name
                  th= typeName[val.type]

                  th.d-none.d-sm-block
                    form.d-inline-block(method='post', action='/user/logout')
                      input.d-none(value=val.id, name='userID', autocomplete="off")
                      if map[val.id]
                        button.btn.btn-primary.btn-sm(type='submit', disabled=val.type >= session.type && val.id !== session.userID)
                          | Logout
                      else
                        button.btn.btn-primary.btn-sm(disabled)
                          | Offline
                    =' '
                    form.d-inline-block
                      button.btn.btn-primary.btn-sm(onclick="location='/user/edit/" + val.id + "'; return false;", disabled=val.type >= session.type && val.id !== session.userID)
                        | Edit
                    =' '
                    form.d-inline-block(method='post' action='/user/delete')
                      input.d-none(value=val.id, name='userID', autocomplete="off")
                      input.d-none(value='1', name='confirm', autocomplete="off")
                      button.btn.btn-danger.btn-sm(type='submit', disabled=val.type >= session.type && val.id !== session.userID)
                        | Delete
        .row.d-block.d-lg-flex
          .col-sm-12.col-md-6.align-self-center
            p(role='status', aria-live='polite') Showing #{ (current - 1) * maximum + 1 } to #{(current - 1) * maximum + users.length} of #{total}
          include page
      else
        .text-center.mt-5
          .error.mx-auto(data-text= 404)
            p.m-0.d-inline-block= 404
          p.text-dark.mb-5.lead User Not Found

append javascripts
  script.
    function cu_submit(d, ext) {
      let fd = d.serialize() + (ext ? ('&' + encodeURI(ext.attr('name')) + '=' + encodeURI(ext.attr('value'))) : '');
      const xhr = new XMLHttpRequest();
      const url = (d.attr('action') || '/user') + '?' + fd;
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          $('#list').html($('#list', xhr.response).html());
          if ($('#search_form').val())
            $('#clear_button').removeClass('d-none');
          else
            $('#clear_button').addClass('d-none');
          window.history.pushState(null, null, xhr.responseURL);
        }
      }
      xhr.send();
    }


append history
  script.
    window.addEventListener("popstate", function (e) {
      const xhr = new XMLHttpRequest();
      const url = window.location;
      xhr.open('get', url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          console.log(xhr);
          $('#list').html($('#list', xhr.response).html());
          if ($('#search_form').val())
            $('#clear_button').removeClass('d-none');
          else
            $('#clear_button').addClass('d-none');
          window.history.replaceState(null, null, xhr.responseURL);
        }
      }
      xhr.send();
    });